<template>
  <div class="about v-container">
    <v-header></v-header>
    <p class="title">Портфолио</p>
    <div v-if="sendData" class="port-list">
      <li v-for="(item, index) in sendData" class="port-list__item" :key="index">
        <div class="port-list__item-img">
          <img :src="item.img" alt="">
        </div>
        <p class="port-list__item-name">
          <a :href="item.link">{{item.link}}</a>
        </p>
      </li>
    </div>
  </div>
</template>
<script>
// @ is an alias to /src
import VHeader from "@/components/v-header.vue";
import axios from 'axios'
export default {
  name: 'HomeView',
  components: {
    VHeader
  },
  data() {
    return {
      sendData: undefined
    }
  },
  mounted() {
    axios.get('http://localhost:5000/api/vacancy').then(res => {
      console.log(res.data);
      this.sendData = res.data.map(item => {
        let img = require(`../assets/${item.path}`);
        return {
          img: img,
          link: item.link
        }
      })
      console.log(this.sendData);
    });
  }
}
</script>
<style>
</style>
