<template>
  <div class="home v-container">
    <v-header></v-header>
    <section class="main-section">
      <div class="v-container">
        <div class="main-section__info">
          <p class="main-section__info-name title">
            Rodion Tiunov
          </p>
          <p class="main-section__info-desc">
            UX | UI designer
            2199 years old, Ufa
          </p>
        </div>
        <div class="main-section__img">
          <img src="../assets/main-img.png" alt="nave no image">
        </div>
      </div>
    </section>
    <section class="about-me">
       <p class="about-me__title title">
         About me
       </p>
      <p class="about-me__text">
        Я тот да я да тот тот и тот да да я
      </p>
    </section>
    <section class="skills" v-if="this.skills">
      <div class="list-skills">
        <p class="list-skills__title title">
          Мои навыки
        </p>
        <ul>
          <li v-for="(item, index) in this.skills" :key="index" class="list-skills__item">
            <div class="list-skills__img">
              <img :src="item.img" alt="">
            </div>
            <p class="list-skills__name">{{item.title}}</p>
            <div class="list-skills__count">
              <div v-for="(item1, index1) in Number(item.count)" :key="index1" class="count-skill count-skill_fill"></div>
              <div v-for="(item1, index1) in (5 - Number(item.count))" :key="index1" class="count-skill"></div>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section v-if="this.work" class="port">
      <img src="" alt="">
      <p class="list-skills__title title">
        Мои работы
      </p>
      <div class="port-list">
        <li v-for="(item, index) in this.work" :key="index" class="port-list__item">
          <div class="port-list__item-img">
            <img :src="item.img" alt="">
          </div>
          <a :href="item.link" class="port-list__item-name">
            {{item.link}}
          </a>
        </li>
        <router-link to="/about" class="link">Перейти к остальным работам</router-link>
      </div>
    </section>
  </div>
</template>

<script>
// @ is an alias to /src
import VHeader from "@/components/v-header.vue";
import axios from "axios";
export default {
  name: 'HomeView',
  components: {
    VHeader
  },
  data() {
    return {
      work: undefined,
      workImgs: [],
      skills: null
    }
  },
  created() {
    axios.get('http://localhost:5000/api/posts').then(res => {
      this.skills = res.data;
      this.skills = this.skills.map(item => {
        let img2 = require(`@/assets/${item.img}`)
        return {
          count: item.count,
          title: item.title,
          img: img2
        }
      })
      console.log(this.skills);
    });

    axios.get('http://localhost:5000/api/vacancy').then(res => {
      this.work = [];
      for(let i = res.data.length - 1; i > res.data.length - 4 ; i--){
        this.work.push(res.data[i]);
      }
      this.work = this.work.map((item) => {
        let img = require(`@/assets/${item.path}`);
        return {
          link: item.link,
          path: item.path,
          img: img
        };
      })


    });
  }
}
</script>
<style>


.list-skills__count {
  display: flex;
}

.main-section__info-desc {
  padding-top: 10px;
  padding-bottom: 10px;
}
.list-skills__count .count-skill {
  margin-left: 5px;
}

.list-skills__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.list-skills__name {
  width: 40%;
}
.list-skills__count {
  width: 40%;
}

.port-list__item {
  padding: 30px 0;
}

.main-section__img, .port-list__item-img {
  width: 100%;
}
.main-section__img img, .port-list__item-img img {
  width: 100%;
}
.port-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.link {
  background-color: #497cea;
  color: #fff;
  padding: 20px 10px  ;
}
.main-section {
  padding-top: 75px;
}

.about-me__text {
  margin-top: 10px;
}
</style>
