<template>
  <header class="v-header">
    <div class="v-header-container v-container">
      <nav class="v-header__nav-list">
        <li class="v-header__nav-item"><router-link to="/" class="header-link">Главная</router-link></li>
        <li class="v-header__nav-item"><a href="#">About Me</a></li>
        <li class="v-header__nav-item"><a href="#">Skills</a></li>
        <li class="v-header__nav-item"><router-link to="/about" class="header-link">Портфолио</router-link></li>
        <li class="v-header__nav-item"><a href="#">Contacts</a></li>
      </nav>
    </div>
  </header>
</template>

<script>
export default {
  name: "v-header"
}
</script>

<style>
  a{
    text-decoration: none;
  }

  .v-header__nav-list {
    display: flex;
    justify-content: space-between;
  }

  v-header {
    padding: 20px;
  }
  header {
    padding: 20px;
  }
</style>

