<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.v-container {
  width: 1000px;
  margin: 0 auto
}
section {
  padding: 75px 0;
}
a, .link {
  text-decoration: none;
  font-family: Arial;
}
p {
  font-family: Arial;
}
li {
  list-style: none;
}
.count-skill {
  width: 8px;
  height: 8px;
  border-radius: 50px;
  border: 1px solid black;
}

.count-skill_fill {
  background-color: #000000;
}
.title {
  font-size: 24px;
  font-weight: 600;
}
</style>
